@model EditPressRu.Models.LocalPasswordModel

<form action="/account/manage" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;padding-top:20px">
                <div class="well" style="width:360px;">
                    <span style="color:red;">@Html.ValidationSummary()</span>
                    <legend>
                        <strong>Форма смены пароля</strong>
                    </legend>
                    <table>
                        <tr>
                            <td align="right">
                                @Html.LabelFor(m => m.NewPassword)
                            </td>
                            <td align="left" style="padding-left:5px;">
                                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "new password", style = "margin-top:5px; margin-bottom:5px;" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </td>
                        </tr>
                        <tr>
                            <td align="right">@Html.LabelFor(m => m.ConfirmPassword)</td>
                            <td align="left" style="padding-left:5px;">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm", style = "margin-top:5px; margin-bottom:5px;" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" style="background-color:#33B086; border-color:#80BD00;color:white;width:100%;border-radius:5px;padding:7px;font-size:14px;">
                                    Задать пароль
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
        </div>
    </fieldset>
</form>




