@model EditPress.Ru.Models.ItemsViewModel

    @{
    ViewBag.Title = "Создать товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<form action="/Items/Create" method="post">
   
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Title</legend>

        <div class="editor-label">
            <strong>Категория</strong>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $('footer').hide();

                //Дропдавн заполнения субкатегорий
                $("#CategoryList").change(function () {
                    //alert("ffff");
                    var cat = $(this).val();
                    //var cat = $("#CategoryList option:selected").val();

                    $.ajax({
                        //путь куда отправлять данные(в нашем случае метод контроллера)
                        url: "/Items/GetSubCategories",
                        type: "post",
                        //это отправка данных на сервер
                        data: { CategoryIndex: cat },
                        //ответ сервера в случае неудачи  (код сервера 500)
                        error: function () { alert("server error in fill SubCat"); },
                        //это ответ сервера. в случае успеха эта функция выполнится(код 200),dataout--это данные с сервера
                        success: function (dataout) {

                            $('#SubCategoryList').html(dataout); //--заполнили тело шаблона+проекты

                        }
                    });
                });

            });

        </script>

        @Html.HiddenFor(model => model.ItemRec.ItemID)

        <div class="editor-label">

            @Html.DropDownList("Category", Model.CatDD, new { id = "CategoryList" })
        </div>
        <br />

        <div class="editor-label">
            <strong>Подкатегория</strong>
        </div>

        @*<select id="SubCategoryList" name="Sel_SubCategory"></select>*@
        @Html.DropDownList("SubCategory", Model.SubCatDD, new { id = "SubCategoryList" })
        <br />
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemName)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemShName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemShName)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemShName)
        </div>

        <div class="editor-label">
            <b>Артикул</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemArtikul)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemArtikul)
        </div>

        <hr />

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.Material)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.Material)
            @Html.ValidationMessageFor(model => model.ItemRec.Material)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.Color)
            @Html.ValidationMessageFor(model => model.ItemRec.Color)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.Size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.Size)
            @Html.ValidationMessageFor(model => model.ItemRec.Size)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.Nanesenie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.Nanesenie)
            @Html.ValidationMessageFor(model => model.ItemRec.Nanesenie)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.Weightl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.Weightl)
            @Html.ValidationMessageFor(model => model.ItemRec.Weightl)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.Brand)
            @Html.ValidationMessageFor(model => model.ItemRec.Brand)
        </div>

        <hr />

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemAttributes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemAttributes)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemAttributes)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemPreservative)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemPreservative)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemPreservative)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemDesc)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ItemRec.ItemDesc, new { id = "ItemDesc", style = "width:100%;" })
            @Html.ValidationMessageFor(model => model.ItemRec.ItemDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemMetaDesc)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ItemRec.ItemMetaDesc, new { id = "ItemMetaDesc", style = "width:100%;" })
            @Html.ValidationMessageFor(model => model.ItemRec.ItemMetaDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemMetaKeywords)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ItemRec.ItemMetaKeywords, new { id = "ItemMetaKeywords", style = "width:100%;" })
            @Html.ValidationMessageFor(model => model.ItemRec.ItemMetaKeywords)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemPrice)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemPrice)
        </div>

        <hr />

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.Publish)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.Publish)
            @Html.ValidationMessageFor(model => model.ItemRec.Publish)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.hit)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.hit)
            @Html.ValidationMessageFor(model => model.ItemRec.hit)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.newitem)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.newitem)
            @Html.ValidationMessageFor(model => model.ItemRec.newitem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.china)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.china)
            @Html.ValidationMessageFor(model => model.ItemRec.china)
        </div>

        <hr />
      
        <hr style="padding-bottom:50px;" />
        <p style="margin-top:5px;">
            <input type="submit" value="Записать/Сохранить" />
        </p>
    </fieldset>
 </form>

    <div>
        @Html.ActionLink("В список товара", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
