@model EditPress.Ru.Models.ItemsViewModel

@{
    ViewBag.Title = "Создать товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Items/Create" method="post">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Title</legend>

        <div class="editor-label">
            <strong>Категория</strong>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $('footer').hide();

                //Дропдавн заполнения субкатегорий
                $("#CategoryList").change(function () {
                    //alert("ffff");
                    var cat = $(this).val();
                    //var cat = $("#CategoryList option:selected").val();

                    $.ajax({
                        //путь куда отправлять данные(в нашем случае метод контроллера)
                        url: "/Items/GetSubCategories",
                        type: "post",
                        //это отправка данных на сервер
                        data: { CategoryIndex: cat },
                        //ответ сервера в случае неудачи  (код сервера 500)
                        error: function () { alert("server error in fill SubCat"); },
                        //это ответ сервера. в случае успеха эта функция выполнится(код 200),dataout--это данные с сервера
                        success: function (dataout) {

                            $('#SubCategoryList').html(dataout); //--заполнили тело шаблона+проекты

                        }
                    });
                });


                //загрузка рисунка
                $('#submit1').on('click', function (e) {
                    e.preventDefault();
                    var files = document.getElementById('uploadFile').files;
                    if (files.length > 0) {
                        if (window.FormData !== undefined) {
                            var data = new FormData();
                            for (var x = 0; x < files.length; x++) {
                                data.append("file" + x, files[x]);
                            }

                            $.ajax({
                                type: "POST",
                                url: '/Items/Upload',
                                contentType: false,
                                processData: false,
                                data: data,
                                success: function (result) {
                                    alert(result);
                                },
                                error: function (xhr, status, p3) {
                                    alert(xhr.responseText);
                                }
                            });
                        } else {
                            alert("Браузер не поддерживает загрузку файлов HTML5!");
                        }
                    }
                });

            });

        </script>

        <div class="editor-label">

            @Html.DropDownList("Category", Model.CatDD, new { id = "CategoryList" })
        </div>
        <br />

        <div class="editor-label">
            <strong>Подкатегория</strong>
        </div>

        @*<select id="SubCategoryList" name="Sel_SubCategory"></select>*@
        @Html.DropDownList("SubCategory", Model.SubCatDD, new { id = "SubCategoryList" })
        <br />
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemName)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemName)
        </div>

        <div class="editor-label">
            <b>Артикул</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemAlias)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemAlias)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemAricleTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemAricleTitle)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemAricleTitle)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemDesc)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ItemRec.ItemDesc, new { id = "desc", style = "width:100%;" })
            @Html.ValidationMessageFor(model => model.ItemRec.ItemDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemPreservative)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ItemRec.ItemPreservative, new { id = "pres", style = "width:100%;" })
            @Html.ValidationMessageFor(model => model.ItemRec.ItemPreservative)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemAttributes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ItemRec.ItemAttributes, new { id = "attr", style = "width:100%;" })
            @Html.ValidationMessageFor(model => model.ItemRec.ItemAttributes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemPrice)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemMetaDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemMetaDesc)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemMetaDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.ItemMetaKeywords)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.ItemMetaKeywords)
            @Html.ValidationMessageFor(model => model.ItemRec.ItemMetaKeywords)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.ItemRec.Publish)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ItemRec.Publish)
            @Html.ValidationMessageFor(model => model.ItemRec.Publish)
        </div>
        <hr />

        <div class="editor-label">
            <strong>Главная картинка</strong>
        </div>
        <div class="editor-field">
            @if (String.IsNullOrEmpty(@Model.ItemRec.ImagePic))
            {
                <button class="label label-primary">Загрузить</button>

            }
            else
            {
            <table>
                <tr>
                    <td><img id="pic_img_data_show" src="@Model.ItemRec.ImagePic" alt="@Model.ItemRec.ItemAlias" /></td>
                    <td style="padding-left:50px;">
                        <div><button class="label label-danger">Удалить</button></div>
                        <div><button class="label label-primary">Загрузить</button></div>
                    </td>
                </tr>
            </table>
            }
        </div>
           <hr />
            <div class="editor-label">
                <strong>Дополнительные картинки</strong>
            </div>

            @if (Model.PicList.Count > 0)
            {
            <div style="height:230px;">
                <table>
                    <tr>
                        <td>
                            <a class="fancybox" id="main-pic-a" rel="group" href="@Model.PicList.First()" style="line-height:230px;">
                                <img id="main-image" src="@Model.PicList.First()" height="230" style="width:inherit; height:inherit; max-height:230px;" />
                            </a>
                        </td>
                        <td>
                            <div>Удалить</div>
                            <div>Загрузить</div>
                        </td>
                    </tr>
                </table>
               
            </div>
           
                foreach (var pic in Model.PicList)
                {
                    //picname = pic.ID.ToString() + ".jpg";
                    <span style="margin-top:10px; cursor:pointer;">
                        <img src="@pic" alt="@Model.ItemRec.ItemAlias" style="max-width:100px;height:inherit;max-width:50px; width:inherit;" onclick="$('#main-image').attr('src', $(this).attr('src')); $('#main-pic-a').attr('href', $(this).attr('src'));" />
                    </span>
                }
            }
            else
            {

            }
       
        
        <hr />
        <label>Загрузка картинок:</label>
        <div>
            <input type="file" name="upload" id="uploadFile" accept="image/*" multiple="multiple" /><br />
            <button id="submit1" class="btn btn-mini btn-primary" type="button">Загрузить</button>
        </div>
        <hr style="padding-bottom:50px;" />
        <p style="margin-top:5px;">
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("В список товара", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
